# ignore ALL files. For macOS Finder hidden files
*
# Unignore all files with extensions
!*.*
# unignore directories
!*/
# unignore makefiles
!Makefile
# re-ignore object files s
*.o

**/.DS_Store
**/.env
**/.vscode

# ignore script outputs
**/*.out
"csadelaide-nand2tetris/tools/bin/Hardware Simulator.dat"

prac6/VMTranslator/*.tst