// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1
push argument 0
push constant 2
lt
if-goto BASE_CASE // if x <= 1, return x
push argument 0   //
push constant 1   //  Do:
sub               //     fib(x-1)
call Fib.fib 1    //

push argument 0   //
push constant 2   //  Do:
sub               //    fib(x-2)
call Fib.fib 1    //

add               // fib(x-1) + fib(x-2)
return

label BASE_CASE
push argument 0
return