// Calculates x = (a + b) - x
// a & b are local variables
// x is a static variable

// Put your code here.
push local 0
push local 1
add
push static 0
sub
pop static 0


label END
goto END